    # Python virtual environment
    venv/
    
    # Python cache files
    __pycache__/
    *.pyc
    
    # Simulation logs and data outputs
    # We want to keep the maps, but ignore the logs.
    data/simulation_logs/
    
    # IDE and editor specific files
    .vscode/
    .idea/
    
    # Build artifacts
    dist/
    build/
    *.egg-info/