    # Byte-compiled / optimized / DLL files
    __pycache__/
    *.pyc
    *.pyo
    *.pyd

    # Virtual environment
    venv/
    .venv/
    env/
    .env/
    
    # Distribution / packaging
    .eggs/
    *.egg-info/
    *.egg
    dist/
    build/
    
    # Log files
    *.log
    
    # IDE-specific files
    .vscode/
    .idea/
